:root {
  --bg-first: #f6fff7;
}
.bg-first {
  background-color: var(--bg-first);
}
.navbar {
  z-index: 9;
}
body {
  padding-top: 8em;
}
.sliderFade {
  animation: fade 0.5s ease;
}
.sliderThumb,
.sliderMainImage {
  cursor: pointer;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
