:root {
  --bg-first: #f6fff7;
}
.bg-first {
  background-color: var(--bg-first);
}
.navbar {
  z-index: 9;
}
body {
  padding-top: 8em;
}
.sliderFade {
  animation: fade 0.5s ease;
}
.sliderThumb,
.sliderMainImage {
  cursor: pointer;
}

.active-filter-btn {
  background-color: var(--bg-first) !important;
  border: var(--bg-first) !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1020px) {
  #newsletter form input {
    text-align: start !important;
    margin: 1rem 0;
  }
  #newsletter {
    width: 100% !important;
  }
}
@media (max-width: 350px) {
  .card-img-clothing {
    height: 200px !important;
    width: 90%;
  }
  #newsletter > div {
    width: 100%;
    padding: 10px 15px !important;
  }
  #newsletter h2 {
    font-size: 1.4rem;
  }
}
